.tag_box{margin:0;overflow:hidden}
.tag_box li{line-height:28px}
.tag_box li i{opacity:.9}
.tag_box.inline li{float:left}
.tag_box a{padding:2px 6px;margin:2px;background:#e5e5e5;color:#555;border-radius:3px;text-decoration:none;border:1px dashed #bbb}
.tag_box a span{vertical-align:super;font-size:.8em}
.tag_box a:hover{background-color:#397bdd;color:#FFF}
.tag_box a.active{background:#57a957;border:1px solid #4c964d;color:#FFF}
.list-unstyled{padding-left:0;list-style:none}

